.header-and-main-content-wrapper {
  min-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  max-height: 110px;
}
.logo-and-title-wrapper {
  display: flex;
}
.site-logo {
  font-size: 5rem;
}
.site-name {
  font-size: 3rem;
  align-self: center;
  margin-left: 1rem;
}
.site-navigation {
  display: flex;
}
.site-navigation-link {
  font-size: 2rem;
  margin-right: 2rem;
  &:last-child {
    margin-right: 0rem;
  }
}
.site-navigation-icon {
  width: 30px;
  margin-right: .5rem;
}
.main-content-wrapper {
  flex: 1;
  display: flex;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}
.swiper-container {
  background: green;
  min-height: 160px;
}
.shop-navigation {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  flex: 1;
  grid-gap: 1rem;

}
.shop-navigation-item {
  position: relative;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  filter: opacity(45%);
  &:first-child {
    font-size: 7rem;
  }
  &:first-child {
    grid-row: 1/-1;
  }
  // &:hover {
  //   filter:none;
  // }
  // &:hover .shop-navigation-title {
  //   display: none;
  // }
  // &:hover ::after {
  //   content: '';
  //   position: absolute;
  //   top:0;
  //   left:0;
  //   background-color: rgba($color: #ffffff, $alpha: 0.2);
  //   width:100%;
  //   height:100%
  // }
}
.shop-navigation-title {
  font-weight: 300;
  color: #505050;
}
.footer {
  background: #D2D2D2;
  padding: 1.5rem 1rem;
}
.footer-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.footer-list-item {

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.footer-logo{
  font-size:4rem;
}

.footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-icon {
  width: 40px;
  margin-bottom: .6rem;
}