@import-normalize;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Amatic SC', 'Open sans', Verdana, Tahoma, sans-serif;
  color: #505050;
}

h1 {
  margin: 0;
  font-weight: 400;
  
}
a {
  text-decoration: none;
}
