.header-and-main-content-wrapper {
  min-height: 100vh;
  background: white;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  max-height: 110px;
}
.logo-and-title-wrapper {
  display: flex;
}
.site-logo {
  font-size: 5rem;
}
.site-name {
  font-size: 3rem;
  align-self: center;
  margin-left: 1rem;
}
.site-navigation {
  display: flex;
}
.site-navigation-link {
  font-size: 2rem;
  margin-right: 2rem;
  &:last-child {
    margin-right: 0rem;
  }
}
.site-navigation-icon {
  width: 30px;
  margin-right: .5rem;
}
.main-content-wrapper {
  flex: 1;
  display: flex;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}
.swiper-container {
  background: green;
  min-height: 160px;
}
// .shop-navigation {
//   padding: 1rem;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr;
//   flex: 1;
//   grid-gap: 1rem;
// }
// .shop-navigation-item {
//   position: relative;
//   text-decoration: none;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   display: grid;
//   font-size: 5rem;
//   &:first-child {
//     font-size: 7rem;
//     grid-row: 1/-1;
//   }
//   &:hover {
//     & .shop-navigation-overlay {
//       background-color: rgba(255, 255, 255, 0);
//     }
//     & .shop-navigation-title {
//       opacity: 0;
//     }
//   }

// }
// .shop-navigation-overlay {
//   background-color: rgba(255, 255, 255, 0.45);
//   grid-column: 1;
//   grid-row: 1;
//   transition: .6s;
// }
// .shop-navigation-title {
//   grid-column: 1;
//   grid-row: 1;
//   justify-self: center;
//   align-self: center;
//   font-weight: 300;
//   color: #505050;
//   transition: .4s;
// }
.footer {
  background: #D2D2D2;
  padding: 1.5rem 1rem;
}
.footer-list {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
.footer-list-item {

  &:not(:last-child) {
    margin-right: 1rem;
  }
}

.footer-logo{
  font-size:4rem;
}

.footer-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-icon {
  width: 40px;
  margin-bottom: .6rem;
}